#panels-container {
  .toolbar .button-toolbar:not(.toolbar-spacer-flexible) {
    height: unset;
    max-height: 34px;
  }
  
  .button-toolbar button[name="PanelNotes"],
  .button-toolbar button[name="PanelTranslate"],
  .button-toolbar button[name="PanelMail"],
  .button-toolbar button[name="PanelCalendar"],
  .button-toolbar button[name="PanelContacts"],
  .button-toolbar button[name="PanelTasks"] {
    display: none;
  }
}

#modal-bg {
  .modal-wrapper {
    background-color: var(--colorBgAlphaBlur);
    backdrop-filter: var(--backgroundBlur);
    border: 3px solid var(--colorHighlightBg);
  }

  .quick-commands,
  .quick-command-search-hint {
    background-color: #00000000;
  }

  .quick-commands {
    max-height: 286px;
  }

  .quick-commands > .ReactVirtualized__List {
    padding: 3px;
    box-sizing: initial !important;
    max-width: 514px;
  }

  .quick-command-sectionheader {
    border-bottom: none;
  }

  .quick-command {
    border-radius: var(--radiusHalf);
  }

  .quick-command[data-selected] {
    background-color: var(--colorHighlightBg);
  }
}

footer .toolbar .button-toolbar {
  button[name="MailStatus"],
  button[name="CalendarStatus"] {
    display: none;
  }
}        
